.container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.secondaryNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.toggled {
    transform: rotate(180deg);
}

.descriptionContainer {
    width: 70vw
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    padding-left:3%;
    padding-right: 3%;
    padding-top: 3rem;
    transition: width .3s linear;
    transition: margin .3s linear;
    width: 30vw;
}

.menuHidden {
    width: 0;
    padding-left:3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
    padding-top: 3rem;
    transition: margin-left .3s linear;
    transition: width .3s linear;

}

.hidden {
    opacity: 0%;
    transition: opacity .3s linear
}

.shown {
    opacity: 100%;
    transition: opacity .3s linear
}

.jobContainer {
    padding-left: 3rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.disabled {
    pointer-events: none;
    background-color: lightgray;
}

.togglebutton {
    margin-right: 1.25em;
}

@media only screen and (max-width: 425px) {
    .container {
        overflow-x: hidden;
    }

    .descriptionContainer {
        width: 60vw;
        overflow: hidden;
        margin-left:3%;
        z-index: 3;
    }

    .menuHidden {
        margin-left: 0;
    }
}