.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    padding-left: 1rem;
}

.footerBottom {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    padding-left: 1rem;  
}

.footerSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    min-width: 25%;
    max-width: 100%;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;

}

@media only screen and (max-width: 890px) {
    .footerBottom {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: auto;
    }

    .footerSection {
        padding-top: 1rem;
    }
  }

.socialImg {
    max-width: 30px;
    max-height: 30px
}

.footerLinks {
    padding-top: 1rem;
}

.divider {
    width:90%;
}