.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0.3em;
	transition: 0.4s;
}

/* Rotate first bar */
.bar1.change {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.bar2.change {
	opacity: 0;
}

/* Rotate last bar */
.bar3.change {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.navContainer {
	position: fixed;
	z-index: 2;
	height: 2.8em;
	width: 100vw;
	background-color: #022972;
}

.row {
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

.rotated {
	transform: rotate(180deg);
	transition: 2s;
}

.changeCursor {
	cursor: pointer;
	color: white;
}

.navLink {
	color: white;
}

.navPhone {
	float: right;
	margin-right: 2em;
	color: white;
}

@media screen and (min-width: 761px) {
	.navContainer {
		padding-top: 0.5em;
	}

	.navBar,
	.navBar.change {
		position: fixed;
		padding: 0, 5px, 0, 5px;
	}

	.hideButton {
		display: none;
		background-color: black;
	}

	.navLink {
		padding-left: 1vw;
		padding-right: 1vw;
	}

	.navDropdown {
		display: none;
		min-width: 24rem;
	}

	.navDropdown.show {
		display: block;
		transform: translate(10em, .5em);
		background-color: #022972;
	}

	.navDropdown > .navLink {
		display: block;
	}
}

@media screen and (max-width: 760px) {
	.navBar {
		display: none;
		min-width: 6rem;
	}

	.navPhone {
		margin-top: 0.5em;
	}

	.navbarToggler {
		position: fixed;
		z-index: 1;
	}

	.navBar.change {
		display: block;
		z-index: 1;
		position: fixed;
		height: 100vh;
		width: 30vw;
		background-color: #022972;
		margin-top: 2.4em;
		padding-left: 0.3em;
	}

	.navLink {
		display: block;
	}

	.navDropdown {
		display: none;
		min-width: 6rem;
	}

	.navDropdown.show {
		display: block;
		transform: translate(80px, -3em);
		background-color: #022972;
	}

	.navDropdown > a {
		border-bottom: 1px solid black;
	}
}
